{% extends "ratings/base.html" %}

{% block title %}Top Submissions{% endblock title %}

{% block content %}
<h2 class="text-center">Top Submissions</h2>

{% if top_submissions_list %}
  <ul>
    {% for submission in top_submissions_list|dictsortreversed:"rating.score" %}
      <li class="submission">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Submission #{{ submission.id }}</h3>
            <h2>Score: {{ submission.rating.score|floatformat:2 }}</h2>

            <div>
              <div class="rating">
                {% with rating=submission.rating %}
                <ul>
                  <li>{% include "ratings/components/progress-bar.html" with label='Code Quality' value=rating.code_quality %}</li>
                  <li>{% include "ratings/components/progress-bar.html" with label='Documentation' value=rating.documentation %}</li>
                  <li>{% include "ratings/components/progress-bar.html" with label='Problem Solving' value=rating.problem_solving %}</li>
                  <li>{% include "ratings/components/progress-bar.html" with label='Effort' value=rating.effort %}</li>
                  <li>{% include "ratings/components/progress-bar.html" with label='Creativity' value=rating.creativity %}</li>
                  <li>{% include "ratings/components/progress-bar.html" with label='Originality' value=rating.originality %}</li>
                </ul>
                {% endwith %}
              </div>
              <div class="media">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>File / URL</th>
                    </tr>
                  </thead>
                  {% for file in submission.media_set.all %}
                    <tr>
                      <td>{{ file.filetype }}</td>
                      <td>{{ file.filename }}</td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>There aren't any submissions yet.</p>
{% endif %}

{% endblock content %}

{% block sidebar %}
{% include "ratings/components/rating-controls.html" %}
{% endblock sidebar %}
